<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name="com.howest.skyeye.SkyEyeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/sky_eye_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sky_eye_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkyEye"
        tools:targetApi="tiramisu">
        <activity
            android:name="com.howest.skyeye.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SkyEye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>